/* Write your code here. */
img {
  height: 35px;
  width: 35px;
  margin-right: 9px;
}
button {
  outline: none;
  cursor: pointer;
  border-width: 0px;
  background-color: transparent;
}
.opacity {
  opacity: 0.5;
}
